//*************************/
// top line color
$top-col: #78828c;

//*************************/
// window color 
//***********************/
$window-col: white;
//*************************/
// name header color 
//***********************/
$name-bck-col: rgb(37, 144, 238);
$name-col: white;