footer{
    grid-area: footer;
    width: 98%;
    margin-bottom: .5em;
   
    .message-bar{
        position: relative;
        input{
            height:4em;
            width: 100%;
            outline: none;
            border: none;
        
        }
        button{
            position: absolute;
            right: 1em;
            top: .4em;
            background:  #75e0c0; 
            color: white;
            border-radius: 10px;
            padding: 1em;
            border: none;
       
        }
    }
}

