nav{
   overflow: scroll;
    border: solid 2px;
    background-color: white;
    grid-area:nav ;
    margin: 0 0 1em 1em;
    padding-right: 2em;
    border: none;
    text-align: center;
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    h2{
        margin-top: .5em;
        padding-left: 1em;
    }
    ul{
        li{
            list-style-type: none;
            border: solid 1px;
            padding: 3px;
            border-radius: 10px;
            margin:.5em;
            background-color: rgb(240, 240, 240);
            display: grid;
            grid-template-columns: 10px auto;
            &:hover{
                cursor: pointer;
            }
              
        }
        .online{
            background-color: #94f6d3;
            border: 1px solid;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            display: inline-block;
            padding-right: 1em;
            margin-left: 8px;
        }
        .standby{
            background-color: #fcd7a1;
            border: 1px solid;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            display: inline-block;
            padding-right: 1em;
            margin-left: 8px;
        }
        .offline{
            background-color: #cfd8d4;
            border: 1px solid;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            display: inline-block;
            padding-right: 1em;
            margin-left: 8px;
        }
    }
    
    .line{
        border-bottom: solid 3px black;
        width: 25%;
        margin: 1.5em auto;
    }
}