main{
    background-color: $window-col;
    grid-area: main;
    height: 25em;
    width: 98%;
    overflow: scroll;
    .selected-name{
        @include center-styles;
        padding: .5em 0 .5em;
        border-bottom: solid 2px black;
        background-color: $name-bck-col;
        color: white;
    }
    .messages-container{
        background-color: rgb(52, 52, 254);
        color: white;
        width: fit-content;
        text-align: right;
        border: solid 2px black;
        border-radius: 40px;
        border-width: 2px 4px;
        margin: .5em .5em .5em auto;
        p{
            padding: 1em;
            ;
        }
    }
    
}



