main{
    background-color: white;
    grid-area: main;
    height: 25em;
    width: 98%;
    .selected-name{
        display: flex;
        justify-content: center;
        padding: .5em 0 .5em;
        border-bottom: solid 2px black;
        background-color: rgb(37, 144, 238);
        color: white;
    }
    .messages-container{
        background-color: rgb(52, 52, 254);
        color: white;
        width: min-content;
        border: solid 2px black;
        border-radius: 40px;
        border-width: 2px 4px;
        margin: .5em .5em .5em auto;
        p{
            padding: 1em;
            ;
        }
    }
    
}



